NODE_ENV="development"
ENVIRONMENT="development"
PORT="8787"
IS_DEMO="false"

# only available in production. Set in CI during deployment
COMMIT_SHA="ONLY AVAILABLE IN PRODUCTION"

# https://llamanodes.com
LLAMAFOLIO_ID=""
# https://www.ankr.com
ANKR_ID=""
# https://www.alchemy.com (optional)
ALCHEMY_ID=""
# https://www.infura.io (optional)
INFURA_ID=""

DATABASE_URL=""

# only available in deployed worker (development and production)
COMMIT_SHA="NOT_AVAILABLE_IN_LOCAL_DEVELOPMENT"

# Supabase studio > Settings > General > Project Settings > Reference ID
SUPABASE_PROJECT_REF=""
# The unique Supabase URL which is supplied when you create a new project in your project dashboard
SUPABASE_URL=""
# The unique Supabase Key which is supplied when you create a new project in your project dashboard.
SUPABASE_SECRET_KEY=""
# Supabase > Settings > API > Project ID
SUPABASE_PROJECT_ID=""
# https://<PROJECT_REF>.supabase.co/graphql/v1
SUPABASE_GRAPHQL_URL=""

ENABLE_DATABASE_LOGGING="false"
