NODE_ENV="development"
PORT="8787"

ALCHEMY_ID=""
LLAMAFOLIO_ID=""
INFURA_ID=""

DATABASE_URL=""
DATABASE_POOLING_URL=""
ENABLE_DATABASE_LOGGING="false"

SUPABASE_URL=""
SUPABASE_PUBLIC_KEY=""
SUPABASE_SECRET_KEY=""
