* text=auto eol=lf
settings.json linguist-language=JSON-with-Comments
extensions.json linguist-language=JSON-with-Comments
wrangler.json linguist-language=JSON-with-Comments
biome.json linguist-language=JSON-with-Comments
.dev.vars linguist-language=dotenv
.dev.vars.example linguist-language=dotenv
